<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-ESQL-Esercitazioni</title>
    <link rel="shortcut icon" href="image/Seal_Bologna.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body class="signin_body">
    <header class="signin_header">
        <h1>Studia con ESQL</h1>
    </header>

    <div class="signin-container">
        <h2>Accedi</h2>
        <h5>Inserisci le credenziali istituzionali di Ateneo.</h5>
        <form action="../controllers/utils/index.php" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <select name="role" required>
                <option value="" disabled selected>Seleziona ruolo</option>
                <option value="professor">Docente</option>
                <option value="student">Studente</option>
            </select><br>
            <button type="submit">Accedi</button>
        </form>
        <p class="link"><a href="signin.html">Registrati</a></p>
    </div>
    <div class="image">
        <img src="image/login.png" alt="grafica logo">
    </div>
    <footer class="signin_footer">
        <p>Alma Mater Studiorum</p>
        <h3>Università di Bologna</h3>
    </footer>
</body>
</html>
