<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Docente</title>
    <link rel="shortcut icon" href="image/Seal_Bologna.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleBACK.css">

    <!-- Includi jQuery per semplificare la gestione delle richieste AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="check_session.js"></script>
</head>

<body>
    <header>
        <h1>Studia con ESQL</h1>
        <div class="indietro">
            <!-- Usa "javascript:history.back()" come href per tornare indietro -->
            <span class="testo-indietro"><a href="javascript:history.back()">
                <img src="image/arrow.png" alt="Torna indietro" style="width: 25px; height: 25px;">
            </a>Indietro</span>
        </div>  
        <div class="logout-form">
            <form action="../controllers/utils/logout.php" method="post">
                <button type="submit" name="logout">Esci</button>
            </form>
        </div> 
    </header>

    <div class="home-container">
        <h2>Home Docente</h2>
        <div class="button_home">
            <button class="black-button" onclick="window.location.href='createTable.html'">Crea Tabella</button>
            <button class="black-button" onclick="window.location.href='viewTable.html'">Visualizza Tabelle</button>
            <button class="black-button" onclick="window.location.href='createTest.html'">Crea Test</button>
            <button class="black-button" onclick="window.location.href='viewTest.html'">Visualizza Test</button>
            <button class="black-button" onclick="window.location.href='statistiche.html'">Statistiche</button>
        </div>
    </div>
    
    <footer>
        <p>Alma Mater Studiorum</p>
        <h3>Università di Bologna</h3>
    </footer>
</body>
</html>
