<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiche</title>
    <link rel="shortcut icon" href="image/Seal_Bologna.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleBACK.css">

    <!-- Includi jQuery per semplificare la gestione delle richieste AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <h1>Statistiche</h1>
    <div class="indietro">
        <!-- Usa "javascript:history.back()" come href per tornare indietro -->
        <span class="testo-indietro"><a href="javascript:history.back()">
                <img src="image/arrow.png" alt="Torna indietro" style="width: 25px; height: 25px;">
            </a>Indietro</span>
    </div>
    <div class="logout-form">
        <form action="../controllers/utils/logout.php" method="post">
            <button type="submit" name="logout">Esci</button>
        </form>
    </div>
</header>

<div class="home-container">

</div>

<footer>
    <p>Alma Mater Studiorum</p>
    <h3>Università di Bologna</h3>
</footer>

</body>
</html>