<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - ESQL -</title>
    <link rel="shortcut icon" href="image/Seal_Bologna.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleBACK.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="check_session.js"></script>
    <style>
    .question {
        width: 90%;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        background-color: #f9f9f9;
        text-align: left;
        padding-left: 20px;
    }

    .question span,
    .question p {
        float: inline-end;
        color: #868686;
        font-weight: bold;
    }

    .question p {
        padding-left: 70px;
    }

    .question-input {
        padding: 10px;
        margin-top: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #f9f9f9;
        color: #333;
    }

    .question input[type="text"] {
        width: 500px;
    }

    .add-check-button {
        background-color: #15c11e;
        cursor: pointer;
        font-size: 12px;
        color: #fff;
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .delete-question-button {
        background-color: #de1515;
        cursor: pointer;
        font-size: 12px;
        width: 80px;
        color: #fff;
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .delete-button {
        background-color: #de1515;
        cursor: pointer;
        font-size: 10px;
        width: fit-content;
        padding: 5px;
        color: #fff;
        border: white;
        padding: 8px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin-left: 10px;
    }

    .delete-answer-button {
        background-color: #de1515;
        color: #fff;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
    }

    input[type="checkbox"] {
        border-radius: 25%;
        transform: scale(1.5);
    }
</style>
</head>

<body>
    <header>
        <h1>Studia con ESQL</h1>
        <div class="indietro">
            <!-- Usa "javascript:history.back()" come href per tornare indietro -->
            <span class="testo-indietro"><a href="javascript:history.back()">
                <img src="image/arrow.png" alt="Torna indietro" style="width: 25px; height: 25px;">
            </a>Indietro</span>
        </div> 
        <div class="logout-form">
            <form action="../controllers/utils/logout.php" method="post">
                <button type="submit" name="logout">Esci</button>
            </form>
        </div>  
    </header>

    <div class="main-container">
        <div class="main-content">
            <div id="testTitle">
                <span style="margin-right: 10px; text-shadow: none;">Test: </span>
                <!-- Posto in cui inserire il titolo da prendere tramite url -->
            </div>
            <div id="image-container" class="image-container">
                <!-- Posto in cui inserire immagine -->
            </div>
        </div>
    </div>
    <div id="test-date">

    </div>
    <div id="test">
        <div id="testContainer">
            <!-- Qui -->
        </div>
        <div id="testContainer-prof">
    
        </div>
    </div>

    <!-- Modale per la visualizzazione della tabella -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <div id="tableContainer"></div> <!-- Contenitore per la tabella -->
        </div>
    </div>

    <script>
        var tables = []; //contine le tabelle usate
        let firstAnswerTime = null;
        let lastAnswerTime = null;

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        const testTitolo = urlParams.get('titolo');
        const testID = parseInt(urlParams.get('id'), 10);
        document.addEventListener('DOMContentLoaded', function() {
            

            // Seleziona l'elemento e aggiunge il titolo come nuovo nodo di testo
            const titleElement = document.getElementById('testTitle');
            if (titleElement && testTitolo) {
                const titleText = document.createTextNode(decodeURIComponent(testTitolo));
                // Aggiunge il nodo di testo all'elemento esistente
                titleElement.appendChild(titleText);
                titleElement.classList.add('title');
            }

            $.ajax({
                type: "GET",
                url: "../controllers/test/StudentTestController.php?action=resume_test",
                data: { testId: testID },
                success: function(response) {
                    console.log(response);

                    // Estrai l'array 'tables' dalla risposta
                    var usedTables = response.tables;
                    
                    if (usedTables) {
                        usedTables.forEach(function(t) {
                            //Metto dentro a tables le tabelle gia usate per questo test. 
                            //Cosi da non selezionarle ulteriormente.
                            var newT = {id: t[0].IDTabella, name: t[0].Nome};
                            tables.push(newT);//console.log(tables);
                            // Crea la tabella e aggiunge un'intestazione con il nome
                            var container = $('<div></div>').addClass('tableContainer-test');
                            var viewTable = $("<table></table>").attr("id", "table-" + t[0].IDTabella);
                            var titleTable = t[0].Nome;
                            var headerRow = $("<tr></tr>").addClass("title-row").append(`<th colspan="100%">${titleTable}</th>`);
                            viewTable.append(headerRow);

                            // Aggiungi una riga per le colonne
                            var columnRow = $("<tr></tr>");
                            t.columns.forEach(function(column) {
                                columnRow.append('<th>' + column.Nome + '</th>');
                            });
                            viewTable.append(columnRow);

                            // Aggiungi righe di contenuto
                            t.content.forEach(function(row) {
                                var contentRow = $("<tr>");
                                Object.keys(row).forEach(function(key) {
                                    contentRow.append('<td>' + row[key] + '</td>');
                                });
                                viewTable.append(contentRow);
                            });

                            // Aggiungi la tabella costruita al contenitore
                            container.append(viewTable);
                            $("#test-date").append(container);
                        });
                    } else {
                        console.error('No tables found or JSON is invalid');
                    }

                    var constraints = response.references;
                    if (constraints) {
                        constraints.forEach(function(ref) {
                            // Crea la tabella e aggiunge un'intestazione con il nome
                            var container = $('<div></div>').addClass('refContainer-test');
                            const nomeT1 = getTableNameById(ref.IDT1, response.tables);
                            const nomeT2 = getTableNameById(ref.IDT2, response.tables);
                            var referenceText = `${nomeT1 || 'ID sconosciuto'}: [ ${ref.NomeAttributo1} ] ---> ${nomeT2 || 'ID sconosciuto'}: [ ${ref.NomeAttributo2} ]`;
                            var textElement = $("<p></p>").text(referenceText);
                            container.append(textElement);
                            $("#test-date").append(container);
                            
                        });
                    } else {
                        console.error('No constraints found or JSON is invalid');
                    }

                    if (response.image[0]) {
                        var img = $('<img>', {
                            src: 'data:image/jpeg;base64,' + response.image[0].Foto,
                            alt: 'Descrizione dell\'immagine'
                        });
                        $('#image-container').append(img);
                    }

                    var questions = response.questions;
                    var responses = response.responses;
                    if (questions) {
                        questions.forEach(function(quest) {
                            //console.log(quest);
                            // Crea un ID univoco per il container basato sull'ID della domanda
                            var containerId = quest.ID;

                            if(quest.type === 'code'){

                                // Crea la tabella e aggiunge un'intestazione con il nome
                                //var container = $('<div></div>').addClass('question').attr('id', containerId).attr('type', quest.type);
                                var container = $('<div></div>')
                                    .addClass('question')
                                    .attr('id', containerId)
                                    .attr('type', quest.type)

                                var textQuestion = $("<strong></strong>").text("Quesito: " + quest.Descrizione + " ");
                                container.append(textQuestion);
                                const code = document.createElement('p');
                                responses.forEach(resp => {
                                    if(resp.IDDomanda == containerId){
                                        code.value = resp.CodiceRisposta;
                                        container.append(code, codeCheck(resp.CodiceRisposta));
                                    }
                                });

                                var difficultyQuestion = $("<p></p>").text("Difficolta: " + quest.Difficolta);
                                container.append(difficultyQuestion);
                            }else if(quest.type === 'mc'){
                                // Crea la tabella e aggiunge un'intestazione con il nome
                                //var container = $('<div></div>').addClass('question').attr('id', containerId).attr('type', quest.type);
                                var container = $('<div></div>')
                                    .addClass('question')
                                    .attr('id', containerId)
                                    .attr('type', quest.type)

                                var textQuestion = $("<strong></strong>").text("Quesito: " + quest.Descrizione);
                                container.append(textQuestion);
                                container.append($("<br>"));
                                var containerAnswer = $('<div></div>').addClass('answer');
                                // Prefisso univoco basato sull'ID della domanda
                                var answerGroupName = quest.ID;

                                $.each(quest.answers, function(index, ans) {
                                    //console.log('answers:', quest.answers)
                                    // Crea un input di tipo radio per ogni risposta
                                    var radioOption = $('<input>').attr({
                                        type: 'radio',
                                        name: answerGroupName, // Utilizza il prefisso univoco per il nome dell'input radio
                                        value: ans.Testo, // Imposta il valore dell'opzione radio al testo della risposta
                                        id: ans.ID // Assicurati che ogni risposta nel tuo data model abbia un 'ID'
                                    });
                                    responses.forEach(resp => {
                                        if(resp.IDDomanda == quest.ID){
                                            //console.log(index, ans.ID, resp.IDRisposta);
                                            if (ans.ID === resp.IDRisposta) { 
                                                radioOption.prop('checked', true);
                                                if(resp.Esito){
                                                    radioOption.append(' ✔').addClass('correct-answer');
                                                }
                                            }
                                        }
                                    });

                                    // Crea un label per l'opzione radio
                                    var label = $('<label></label>').attr('for', ans.ID).text(ans.Testo); // Assicurati che il label sia associato correttamente usando 'for'

                                    // Aggiungi l'input radio e il label al container
                                    containerAnswer.append(radioOption, label, $('<br>')); // Aggiungi anche un line break per separare le opzioni
                                });
                                container.append(containerAnswer);

                                var difficultyQuestion = $("<span></span>").text("Difficolta: " + quest.Difficolta);
                                container.append(difficultyQuestion);
                            }
                            $("#testContainer").append(container);
                            
                        });
                    } else {
                        console.error('No questions found or JSON is invalid');
                    }
                },
                dataType: "json"
            });
            // Dati Corretti
            $.ajax({
                type: "GET",
                url: "../controllers/test/TestController.php?action=get_test_content",
                data: { testId: testID },
                success: function(response) {
                    console.log(response);

                    var questions = response.questions;
                    if (questions) {
                        questions.forEach(function(quest) {
                            //console.log(quest);
                            QID = quest.ID; 
                            if(quest.type === 'code'){
                                // Crea la tabella e aggiunge un'intestazione con il nome
                                var container = $('<div></div>').addClass('question-test-code');
                                var textQuestion = $("<strong></strong>").text("Quesito: " + quest.Descrizione + " ");
                                container.append(textQuestion);
                                $.ajax({
                                    type: 'POST', // Tipo di richiesta HTTP
                                    url: '../controllers/test/TestController.php',
                                    data: { query: quest.Output , action: 'test_query'}, // Dati inviati al server
                                    success: function(response) {
                                        container.append($("<br>"));
                                        //console.log(response);
                                        const columns = response.length > 0 ? Object.keys(response[0]) : [];
                                        container.append(createTableMain(response,columns,null));
                                        container.append($("<br>"));
                                    },
                                    error: function(xhr, status, error) {
                                        // Gestione degli errori
                                        if (xhr.status === 0) {
                                            alert('Errore di rete durante la verifica del codice.');
                                        } else {
                                            alert('Errore durante la verifica del codice.');
                                        }
                                    },
                                    dataType: 'json' // Tipo di dati attesi dalla risposta
                                });
                                var difficultyQuestion = $("<p></p>").text("Difficolta: " + quest.Difficolta);
                                container.append(difficultyQuestion);
                            }else if(quest.type === 'mc'){
                                // Crea la tabella e aggiunge un'intestazione con il nome
                                var container = $('<div></div>').addClass('question-test-mc');
                                var textQuestion = $("<strong></strong>").text("Quesito: " + quest.Descrizione);
                                container.append(textQuestion);
                                $.each(quest.answers, function(index, ans) {
                                    //console.log(ans.Testo)
                                // Crea un elemento di lista per ogni risposta
                                    var option = $('<p></p>').text(ans.Testo);
                                    ///////////each per itinerare le opzioni delle risposte
                                    // Se la risposta è corretta, aggiungi una spunta verde e la classe per lo stile
                                    if (ans.IsCorretta === 1) {
                                        option.append(' ✔').addClass('correct-answer');
                                    }
                                    container.append(option);
                                });
                                var difficultyQuestion = $("<span></span>").text("Difficolta: " + quest.Difficolta);
                                container.append(difficultyQuestion);
                            }
                            //container.append(textQuestion);
                            $("#testContainer-prof").append(container);
                            
                        });
                    } else {
                        console.error('No constraints found or JSON is invalid');
                    }
                },
                dataType: "json"
            });

        });
    
        function getTableNameById(id, usedTables) {
            // Itera attraverso l'array delle tabelle
            for (let t of usedTables) {
                // Accede all'oggetto alla chiave '0' di ciascun elemento dell'array
                if (parseInt(t[0].IDTabella) === parseInt(id)) {
                    return t[0].Nome;
                }
            }
            return null; // Restituisce null se non viene trovato nessun ID corrispondente
        }

    </script>
    <script>
        function codeCheck(element) {
            const query = element;

            // Effettuare una chiamata AJAX per inviare il codice al server
            $.ajax({
                type: 'POST', // Tipo di richiesta HTTP
                url: '../controllers/test/TestController.php',
                data: { query: query, action: 'test_query'}, // Dati inviati al server
                success: function(response) {
                    // Analizzare la risposta (con jQuery, la risposta è già un oggetto JS se il server risponde con JSON)
                    if (response.length > 0) {
                        const col = response.length > 0 ? Object.keys(response[0]) : [];
                        return createTableMain(response, col, null);
                    } else {
                        // Il codice non è valido
                        alert('Il codice non è valido!');
                    }
                },
                error: function(xhr, status, error) {
                    // Gestione degli errori
                    if (xhr.status === 0) {
                        alert('Errore di rete durante la verifica del codice.');
                    } else {
                        alert('Errore durante la verifica del codice.');
                    }
                },
                dataType: 'json'
            });
        }
    </script>


    <script>
        function createTableMain(resp,columns,tName) {
            const table = document.createElement('table');
            table.className = 'custom-table';
            const caption = document.createElement('caption');
            caption.textContent = tName;
            caption.className = 'caption-table';
            
            // Creazione delle intestazioni della tabella
            const thead = document.createElement('thead');
            const trHead = document.createElement('tr');
            if(caption.textContent){
                thead.prepend(caption);
            }
            columns.forEach(colName => {
                const th = document.createElement('th');
                th.textContent = colName;
                trHead.appendChild(th);
            });
            thead.appendChild(trHead);
            table.appendChild(thead);

            // Creazione del corpo della tabella
            const tbody = document.createElement('tbody');
            resp.forEach(obj => {
                const tr = document.createElement('tr');
                columns.forEach(column => {
                    const td = document.createElement('td');
                    td.textContent = obj[column];
                    tr.appendChild(td);
                });
                tbody.appendChild(tr);
            });
            table.appendChild(tbody);

            // Restituisce l'elemento <table> creato
            return table;
        }
    </script>
</body>
<footer>
    <p>Alma Mater Studiorum</p>
    <h3>Università di Bologna</h3>
</footer>
</html>
