        
/* Stile per link freccia indietro pagina precedente */
.indietro {
    /* Posizionare l'elemento in basso a destra nell'header */
    position: absolute;
    bottom: 5px;
    left: 100px;
    /* Ridimensiona l'immagine contenuta in .indietro a 15x15 pixel */
    width: 20px;
    height: 20px;
}

.indietro a {
    /* Assicurati che l'ancora non abbia margini o padding per evitare spazi extra */
    display: block;
    margin: 0;
    padding: 0;
    /* Ridimensiona il link alla grandezza dell'immagine per evitare aree cliccabili non desiderate */
    width: 100%;
    height: 100%;
}

.indietro img {
    /* Forza l'immagine a estendersi completamente all'interno del suo contenitore */
    width: 100%;
    height: 100%;
    display: block; /* Rimuove lo spazio extra sotto l'immagine che potrebbe apparire */
}
.testo-indietro {
    position: absolute;
    /* Posizionare il testo in basso sotto l'immagine */
    bottom: 0; /* o il valore desiderato per la spaziatura dal fondo */
    right: 0; /* per allineare con l'immagine sopra */
    /* Stile opzionale per il testo */
    color: #ffffff; /* o qualsiasi colore desideri */
    font-size: 10px; /* o qualsiasi dimensione desideri */
}